{{extend './layout.html'}}
{{block 'title'}}<title>文章列表</title>{{/block}}
{{block 'content'}}
    <div class="artcles">
        <fieldset>
            <legend>查询条件</legend>
            <form class="layui-form" action="/admin/blog/handlerQuery" method="POST">
                <div class="layui-inline">
                    <label class="layui-form-label">发表时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" id="date" lay-verify="required" readonly placeholder="请选择时间" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block">
                        <select name="type" id="tags" lay-verify="required">
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="query">查询</button>
                    </div>
                </div>
        </form>
        </fieldset>
        <table class="layui-table" lay-even lay-skin="nob">
            <thead class="thead">
                <tr>
                    <td>编码</td>
                    <td>标签</td>
                    <td>标题</td>
                    <td>发表时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody class="tbody">
                
                {{each blogs}}
                    <tr>
                        <td>{{$value._id}}</td>
                        <td>{{$value.title}}</td>
                        <td>{{$value.tags}}</td>
                        <td>{{$value.publishTime}}</td>
                        <td>
                            <span><a href="/admin/blog/update_artcle?_id={{$value._id}}">
                                <button class="layui-btn layui-btn-xs layui-btn-warm"><i class="layui-icon"></i>修改</button>
                            </a></span>
                            <span>
                                <a href="/admin/blog/preview?_id={{$value._id}}">
                                    <button class="layui-btn layui-btn-xs layui-btn-normal"><i class="layui-icon"></i>预览</button>
                                </a>
                            </span>
                            <span>
                                <button class="layui-btn layui-btn-xs layui-btn-danger delBtn" id="{{$value._id}}"><i class="layui-icon"></i>删除</button>
                            </span>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{if blogs.length !== 0}}
            <div class="pager">
                {{if pager.totalPage === 1}}
                    <div>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-pre"></use>
                        </svg>
                    </div>
                    <div class="total">{{pager.pageCode}}/{{pager.totalPage}}</div>
                    <div>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-next"></use>
                        </svg>
                    </div>
                {{else if pager.pageCode === 1}}
                    <div>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-pre"></use>
                        </svg>
                    </div>
                    <div class="total">{{pager.pageCode}}/{{pager.totalPage}}</div>
                    <div>
                        <a href="/admin/blog/artcle_list/{{pager.params}}pageCode={{pager.pageCode + 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-next"></use>
                            </svg>
                        </a>
                    </div>
                {{else if pager.pageCode === pager.totalPage}}
                    <div>
                        <a href="/admin/blog/artcle_list/{{pager.params}}pageCode={{pager.pageCode - 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pre"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="total">{{pager.pageCode}}/{{pager.totalPage}}</div>
                    <div>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-next"></use>
                        </svg>
                    </div>
                {{else}}
                    <div>
                        <a href="/admin/blog/artcle_list/{{pager.params}}pageCode={{pager.pageCode - 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pre"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="total">{{pager.pageCode}}/{{pager.totalPage}}</div>
                    <div>
                        <a href="/admin/blog/artcle_list/{{pager.params}}pageCode={{pager.pageCode + 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-next"></use>
                            </svg>
                        </a>
                    </div>
                {{/if}}
            </div>
        {{/if}}
    </div>
{{/block}}
{{block 'js'}}
    <script src="/js/moment.min.js"></script>
    <script>
        $(function(){

            //获取文章类型
            $.ajax({
                url:'/admin/blog/getArtcleTypes',
                dataType: 'json',
                success(tags){
                    $('#tags').append('<option id="noType" selected>==请选择文章分类==</option>');

                    if(tags.length === 0){
                    }else{
                        tags.forEach(function(ele, index){
                            $('#tags').append(`<option value=${ele._id}>${ele._id}</option>`);
                        });
                    }
                }
            });

            layui.use(['layer', 'form', 'laydate'], function(){
                let form = layui.form;
                let laydate = layui.laydate;

                //初始化时间
                laydate.render({
                    elem: '#date',
                    type: 'date',
                    range: true,
                    format: 'yyyy-MM-dd',
                    btns: ['confirm'],
                    max: new Date().getTime(),
                    trigger: 'click'
                });

                //删除文章
                $('.delBtn').on('click', function(){
                    //获取id参数
                    let id = $(this).attr('id');

                    layer.confirm('是否删除该文章?', function(index){
                        //发送ajax请求
                        $.ajax({
                            url: `/admin/blog/del_artcle/${id}`,
                            success(res){
                                if(res.code === '1'){
                                    window.location.reload();
                                }
                                layer.msg(res.message);
                            }
                        });
                        layer.close(index);
                    });       
                });
            });
        })
    </script>
{{/block}}
