<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{block 'title'}}<title>后台首页</title>{{/block}}
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css">
    <link rel="stylesheet" href="/editor.md/lib/codemirror/codemirror.min.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header layui-bg-cyan">
            <div class="layui-logo">Blog后台管理</div>
            <div class="collapse"><i class="layui-icon layui-icon-shrink-right"></i></div>
            <ul class="layui-nav layui-layout-right ">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img userImg">
                        <span class="uname"></span>
                    </a>
                    <dl class="layui-nav-child">
                    <dd><a href="/admin/user/user_info">基本资料</a></dd>
                    <dd><a href="/admin/user/safe_center">安全中心</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/admin/user/exit">告辞~</a></li>
            </ul>
        </div>
    
        <div class="layui-side layui-bg-cyan nav">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="/admin/">
                            <i class="layui-icon layui-icon-home" style="padding-right:10px"></i>首页
                        </a>
                    </li>
                </ul>
                <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="/admin/blog/">
                            <i class="layui-icon layui-icon-read" style="padding-right:10px"></i>文章管理
                        </a>
                    </li>
                </ul>
                <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="/admin/blog/img/">
                            <i class="layui-icon layui-icon-picture-fine" style="padding-right:10px"></i>图片管理
                        </a>
                    </li>
                </ul>
                <ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline userManage">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="/admin/user/">
                            <i class="layui-icon layui-icon-user" style="padding-right:10px"></i>用户管理
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="layui-body">
            {{block 'content'}}{{/block}}
        </div>
    
        <div class="layui-footer">
            © 基于layui框架的后台管理系统
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script src="/js/sha1.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/editor.md/editormd.min.js"></script>
    <script>
        $(() =>{
            layui.use('element', function(){
                let element = layui.element;
            })
            
            let flag = true;
            $('.collapse i').on('click', function(){
                if(flag){
                    //隐藏侧边栏
                    $('.nav').css('display', "none");
                    $(this).removeClass('layui-icon-shrink-right').addClass('layui-icon-spread-left');

                    $(".layui-body").css('left', '0').css('width', '100%');
                    $('.layui-layout-admin .layui-footer').css('left', '5px');
                }else{
                    //展开侧边栏
                    $('.nav').css('display', "");
                    $(this).removeClass('layui-icon-spread-left').addClass('layui-icon-shrink-right');

                    $(".layui-body").css('left', '200px').css('width', 'calc(100% - 200px)');
                    $('.layui-layout-admin .layui-footer').css('left', '200px');
                }

                flag = !flag;
            })

            //从cookie中获取用户信息
            let cookies = document.cookie;
            cookies = cookies.substring(cookies.indexOf('user')).split(';');
            for (const item of cookies) {
                let index = item.indexOf('user=');
                if( index !== -1){
                    let obj = JSON.parse(item.substring(index + 5));
                    //设置用户头像
                    $('.userImg').attr('src', obj.picture);
                    //设置用户名
                    $('.uname').text(decodeURI(obj.name));

                    //临时的权限  普通用户隐藏用户管理
                    if(obj.role === '1'){
                        $('.userManage').css('display', 'none')
                    }
                } 
            }
        })
    </script>   
    {{block 'js'}}{{/block}}
</body>
</html>