<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin/login.css">
    <link rel="shortcut icon" href="/img/user.gif" type="image/x-icon">
</head>
<body>
    <div class="login-wrap">
        <form class="layui-form login-form" action="" method="POST">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="uname" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="passwd" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item login-tips" style="display: none"></div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal submit-btn" lay-submit="" lay-filter="login">登陆</button>
                </div>
            </div>
        </form>
    </div>
</body>
    <script src="/layui/layui.js"></script>
    <script src="/js/iconfont.js"></script>
    <script src="/js/sha1.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
    <script>
        $(function(){

            layui.use(['form', 'layer'], function(){
                let form = layui.form;
                let layer = layui.layer;

                //错误提示
                let message = '{{message}}';
                if(message !== ''){
                    layer.msg(message);
                }
                
                //监听提交
                form.on('submit(login)', function(data){
                    //对密码加密
                    let passwd = SHA2(data.field.passwd);

                    //发生ajax请求获取登陆令牌
                    $.ajax({
                        url: '/admin/toLogin',
                        data: {
                            passwd,
                            uname: data.field.uname
                        },
                        dataType: 'json',
                        method: 'POST',
                        success(res){
                            //code == 1 请求成功 -1 请求失败
                            if(res.code === 1){
                                //发送请求获取用户信息
                                getUserInfo();
                            }else{
                                $('.login-tips').css('display', 'block').html(res.message);
                            }
                        }
                    });

                    return false;
                });
            });
            
            //给input加上focus事件
            $('input').on('focus', function(){
                $('.login-tips').css('display', 'none');
            });

            //获取用户信息
            function getUserInfo(){
                $.ajax({
                    url: '/admin/getUserInfo',
                    method: 'GET',
                    success(res){
                        //跳转到后台首页
                        if(res.code === 1){
                            window.location.href = '/admin';
                        }else{
                            //登陆过期
                            layer.msg(res.message);
                        }
                    }
                });
            }
        })
        
    </script>
</html>