{{extend './layout.html'}}
{{block 'title'}}<title>用户管理</title>{{/block}}
{{block 'content'}}
<div class="artcles">
    <fieldset>
        <legend>查询条件</legend>
        <form class="layui-form">
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="uname" id="uname" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="query">查询</button>
                </div>
            </div>
        </form>
    </fieldset>

    <table class="layui-hide" id="userList" lay-filter="userList"></table>
    <script type="text/html" id="funcBtn">
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit"><i class="layui-icon"></i>修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon"></i>删除</a>
    </script>
    <script type="text/html" id="toolBar">
        <div class="layui-btn-container">
          <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delAll"><i class="layui-icon"></i>删除选中的用户</button>
          <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="addUser"><i class="layui-icon"></i>新增用户</button>
        </div>
      </script>
</div>
{{/block}}
{{block 'js'}}
<script>
    $(function(){

        layui.use(['layer', 'form', 'table'], function () {
            let table = layui.table;
            let form = layui.form;

            //查询条件
            let params = {};

            //渲染表格数据
            renderTableData(table, {});

            //处理查询条件
            form.on('submit(query)', function(data){

                //data.field 不能这样写let data = data.field 鬼知道为什么
                params = data.field;
                
                //过滤值为空的条件
                for (const key in params) {
                    if (params.hasOwnProperty(key)) {
                        if(params[key] === ''){
                            delete params[key];
                        }
                    }
                }
                
                //reload表格数据
                reloadTableData(table, params);

                return false;
            });

            //监听table事件
            table.on('toolbar(userList)', function(obj){
                if(obj.event === 'delAll'){
                    //选中的数据
                    let data = table.checkStatus(obj.config.id).data;
                    if(data.length === 0){
                        layer.msg("请选择您要删除的用户", {icon: 0});
                        return;
                    }else{
                        //所有勾选用户的id
                        let ids = []
                        for (const item of data) {
                            ids.push(item._id);
                        }
                        //发送请求删除用户
                        delUsers(layer, table, ids.toString(), params);
                    }
                }else if(obj.event === 'addUser'){
                    //弹窗
                }
            })
            table.on('tool(userList)', function(obj){
                let rowData = obj.data;

                if(obj.event === 'edit'){
                   //弹窗编辑

                } else if(obj.event === 'delete'){
                    delArtcles(layer, table, rowData._id, params);
                }
            });
        });
    });

    //删除用户
    function delUsers(layer, table, ids, params){
        layer.confirm('是否删除该用户?', function(index){
            //发送ajax请求
            $.ajax({
                url: `/admin/blog/del_user/${ids}`,
                success(res){
                    layer.msg(res.message);
                    //重新渲染页面数据
                    reloadTableData(table, params);
                }
            });
            layer.close(index);
        })
    }
    //重新渲染表格数据
    function reloadTableData(table, params = {}){
        table.reload('userList', {
            url: '/admin/user/getAllUsers',
            where: params
        });
    }
    //渲染表格数据
    function renderTableData(table, params = {}){
        table.render({
            elem: '#artcleList',
            url: '/admin/user/getAllUsers',
            //添加额外参数
            where:params,
            //自定义请求参数
            request:{
            },
            toolbar: '#toolBar',
            title: '用户列表',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    }, 
                    {
                        field: 'picture',
                        title: '头像',
                        templet: function (res) {
                            return `<img src=${res.picture}/>`
                        }
                    }, 
                    {
                        field: '_id',
                        title: '编码',
                        fixed: 'left',
                        sort: true,
                        templet: function (res) {
                            return '<em>' + res._id + '</em>'
                        }
                    }, 
                    {
                        field: 'createTime',
                        title: '创建时间',
                        sort: true,
                    }, 
                    {
                        field: 'uname',
                        width:'10%',
                        title: '用户名',
                    }, 
                    {
                        field: 'email',
                        title: '邮箱',
                    }, 
                    {
                        field: 'motto',
                        title: '座右铭',
                    },
                    {
                        field: 'introd',
                        title: '简介'
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        align: 'center',
                        toolbar: '#funcBtn',
                        width: 250
                    }
                ]
            ],
            page: true
        });
    }
</script>
{{/block}}