{{extend './layout.html'}}
{{block 'title'}}<title>jsong-一个不专业的前端程序员-关于我</title>{{/block}}
{{block 'content'}}
    <div class="brief">
        <div class="head">关于我</div>
        <div class="about-content">
            <ul>
                <li><span>QQ邮箱：</span><span>{{user.email}}</span></li>
                <li><span>Git地址：</span><span><a href="https://github.com/sonsong/my-blog" target="_blank">git@github.com:sonsong/my-blog.git</a></span></li>
                <li><span>个人简历：</span><span><a href="{{user.resumePath}}" target="_blank" title="预览">{{user.resumeName}}</a></span></li>
                <li><span>简介：</span><span>{{user.introd}}</span></li>
            </ul>
        </div>
    </div>
{{/block}}