{{extend './layout.html'}}
{{block 'css'}}
    <link rel="stylesheet" href="/css/brief.css">
{{/block}}
{{block 'content'}}
    <div class="brief">
        <div class="head">文章简史</div>
        <div class="brief-content">

            <div class="part">
                    <div class="time">2018-11-11</div>
                    <ul>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                    </ul>
            </div>

            <div class="part">
                    <div class="time">2018-11-11</div>
                    <ul>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                    </ul>
            </div>
            <div class="part">
                    <div class="time">2018-11-11</div>
                    <ul>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                        <li><a href="">关于java的那些事</a><span class="publishTime">2018-11-11 13:12:11</span></li>
                    </ul>
            </div>
        </div>
    </div>
{{/block}}