{{extend './layout.html'}}
{{block 'title'}}<title>jsong,一个不专注前端的程序员-文章简史</title>{{/block}}
{{block 'content'}}
    <div class="brief common-wrap">
        <div class="head">文章简史</div>
        <div class="brief-wrap">
            <div class="brief-content">
                    {{each blogs}}
                        <div class="part">
                            <div class="time">{{$value.time}}({{$value.sum}})</div>
                            <div class="sub-item">
                                {{each $value.detail}}
                                    <span><a href="/preview?_id={{$value._id}}">{{$value.title}}</a><span class="publishTime">{{$value.publishTime}}</span></span><br>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
        </div>
    </div>
{{/block}}