<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.css">
</head>
<body>
    <div class="index-wrap">
        <div class="category">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Node</a></li>
                <li><a href="#">Vue</a></li>
                <li><a href="#">CSS</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="toolBox">
                <span><a href="/editor">写文章</a></span>
            </div>

            {{each blogs}}
                <div class="article">
                        <div class="head">
                            <div class="title">{{$value.title}}</div>
                            <div class="sub-title">
                                <span class="write-time">发表时间:{{$value.publishTime}}</span>
                                <span class="read">阅读量:1111</span>
                                <span class="comment">评论:1111</span>
                            </div>
                        </div>
                        <div class="detail">
                            {{@$value.htmlContent}}
                        </div>
                        <button class="warning-btn read-btn"><a href="/previewArtcle?id={{$value._id}}">阅读全文</a></button>
                </div>
            {{/each}}
            
        </div>
    </div>
</body>
</html>