<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="index-wrap">
        <div class="category">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Node</a></li>
                <li><a href="#">Vue</a></li>
                <li><a href="#">CSS</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="toolBox">
                <span><a href="/editor">写文章</a></span>
            </div>

            <div class="article">
                    <div class="head">
                        <div class="title">关于小程序的那些事</div>
                        <div class="sub-title">
                            <span class="write-time">发表时间:2018-11-10 16:55:30</span>
                            <span class="read">阅读量:1111</span>
                            <span class="comment">评论:1111</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p>面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题
                        </p>
                    </div>
                    <button class="warning-btn read-btn">阅读全文</button>
            </div>

            <div class="article">
                    <div class="head">
                        <div class="title">关于小程序的那些事</div>
                        <div class="sub-title">
                            <span class="write-time">发表时间:2018-11-10 16:55:30</span>
                            <span class="read">阅读量:1111</span>
                            <span class="comment">评论:1111</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p>面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题
                        </p>
                    </div>
                    <button class="warning-btn read-btn">阅读全文</button>
            </div>

            <div class="article">
                    <div class="head">
                        <div class="title">关于小程序的那些事</div>
                        <div class="sub-title">
                            <span class="write-time">发表时间:2018-11-10 16:55:30</span>
                            <span class="read">阅读量:1111</span>
                            <span class="comment">评论:1111</span>
                        </div>
                    </div>
                    <div class="detail">
                        <p>面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题面语用词，指独立研究后所写的较为详细的专题文章；也可指学位论文一般指大学或高中生作为作业所写的篇幅有限、
                            较完整论述某个观点的文章。也可指作品或谈话的主要论题
                        </p>
                    </div>
                    <button class="warning-btn read-btn">阅读全文</button>
            </div>
            
        </div>
    </div>
</body>
</html>