{{extend './layout.html'}}
{{block 'title'}}<title>jsong,一个不专注前端的程序员-博客首页</title>{{/block}}
{{block 'css'}}
    <link rel="stylesheet" href="/css/index.css">
{{/block}}
{{block 'content'}}
    <div class="index-wrap">
        {{each blogs}}
            <div class="index-article">
                <div class="head">
                    <div class="title">{{$value.title}}</div>
                    <div class="sub-title">
                        <span class="write-time">发表时间: {{$value.publishTime}}</span>
                        <span class="read">阅读量: {{$value.readNum}}</span>
                        <span class="tags">标签: <span>{{each $value.tags}}<a href="javascript:">{{$value}}&nbsp;</a>{{/each}}</span></span>
                        <!-- <span class="comment">评论: 1111</span> -->
                    </div>
                </div>
                <div class="detail">
                    {{@$value.htmlContent}}
                </div>
                <div class="hidden-block">
                    <a href="/preview?_id={{$value._id}}" style="text-decoration: none;color: #fff"><button class="warning-btn">阅读全文</button></a>
                </div>
            </div>
        {{/each}}
    
        {{if blogs.length !== 0}}
            <div class="pager">
                
                {{if pager.totalPage === 1}}
                    <div class="pagerWrap">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-pre"></use>
                        </svg>
                    </div>
                    <div class="total">{{pager.pageCode}} / {{pager.totalPage}}</div>
                    <div class="pagerWrap">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-next"></use>
                        </svg>
                    </div>
                {{else if pager.pageCode === 1}}
                    <div class="pagerWrap">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-pre"></use>
                        </svg>
                    </div>
                    <div class="total">{{pager.pageCode}} / {{pager.totalPage}}</div>
                    <div class="pagerWrap">
                        <a href="/{{pager.params}}pageCode={{pager.pageCode + 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-next"></use>
                            </svg>
                        </a>
                    </div>
                {{else if pager.pageCode === pager.totalPage}}
                    <div class="pagerWrap">
                        <a href="/{{pager.params}}pageCode={{pager.pageCode - 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pre"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="total">{{pager.pageCode}} / {{pager.totalPage}}</div>
                    <div class="pagerWrap">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-next"></use>
                        </svg>
                    </div>
                {{else}}
                    <div class="pagerWrap">
                        <a href="/{{pager.params}}pageCode={{pager.pageCode - 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pre"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="total">{{pager.pageCode}} / {{pager.totalPage}}</div>
                    <div class="pagerWrap">
                        <a href="/{{pager.params}}pageCode={{pager.pageCode + 1 }}">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-next"></use>
                            </svg>
                        </a>
                    </div>
                {{/if}}
    
            </div>
        {{/if}}
    </div>
{{/block}}