<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{block 'title'}}{{/block}}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css">
    <link rel="shortcut icon" href="/img/logo1.png" type="image/x-icon">
</head>
<body>
    <div class="layout-wrap">
        <div class="left">
            <div class="colorDiv"></div>
            <img class="uimg" src="{{user.picture}}">
            <div class="userinfo">
                <div class="uname">{{user.nname}}</div>
                <div class="motto">{{user.motto}}</div>
            </div>
            <div class="category">
                <ul>
                    <li><a href="/">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-index"></use>
                        </svg>首页</a>
                    </li>
                    <li><a href="/brief">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-brief"></use>
                        </svg>文章简史</a>
                    </li>
                    <li><a href="/tags">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-tag"></use>
                        </svg>文章标签</a>
                    </li>
                    <li><a href="javascript:" class="query">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-search"></use>
                        </svg>查询文章</a>
                    </li>
                    <li><a href="/about">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-about"></use>
                        </svg>联系我</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="search-wrap">
                <input type="text" name="search" id="search" placeholder="文章标签">
                <svg class="icon" aria-hidden="true" style="position:absolute;top:0.47rem;right:-0.3rem">
                    <use xlink:href="#icon-search"></use>
                </svg>
                <div class="collapse">收起</div>
                <ul class="result"></ul>
            </div>
            <div class="content">
                {{block 'content'}}{{/block}}
                <div class="toolBox">
                    <div class="fixedWrap">
                    </div>
                </div>
            </div>
        </div>
        <div id="bg"></div>
        <div class="inner-wrap"></div>
        <div class="category-icon">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-category"></use>
            </svg>
        </div>
    </div>
</body>
<script src="/js/iconfont.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/particle.js"></script>
<script>
    $(() =>{

        //侧边栏选中
        $('.category li').on('click', function(){
            $(this).siblings('li').removeClass('active');
            $(this).addClass('active');
        })

        //粒子背景配置
        let config = {
            vx: 4,	//小球x轴速度,正为右，负为左
            vy: 4,	//小球y轴速度
            height: 3,	//小球高宽，其实为正方形，所以不宜太大
            width: 3,
            count: 100,		//点个数
            color: "255, 255, 255", 	//点颜色
            stroke: "255, 192, 203", 		//线条颜色
            dist: 6000, 	//点吸附距离
            e_dist: 20000, 	//鼠标吸附加速距离
            max_conn: 10 	//点到点最大连接数
        }
        
        //做移动端适配
        let width = window.innerWidth;

        if(width > 1024){
            //手机屏幕不显示粒子特效
            CanvasParticle(config);
            //监听屏幕的滚动
            $('.content').scroll(function(){
                //随着屏幕滚动的对象
                let scrolled = $('.toolBox');

                if($(this).scrollTop() === 0){
                    scrolled.css('top',  '1rem');
                }else{
                    scrolled.css('top',  '0');
                }
            });
        }else{
            if(width > 414 && width <= 1024){
                CanvasParticle(config);
            }
            $('.inner-wrap').on('click', showOrHiddenNav);
            $('.category-icon').on('click', showOrHiddenNav);
        }

        //根据关键字查询文章
        $("#search").on('keyup', debounce(search, 500));

        let flag = false;
        //显示查询框
        $('.query').on('click', function(){
            flag = !flag;
            if(width > 1024){
                if(flag){
                    $('.layout-wrap .search-wrap').animate({width:'25%'}, 1000).css('display', 'block');
                }else{
                    $('.layout-wrap .search-wrap').animate({width:'0'}, 1000, function(){
                        $(this).css('display', 'none');
                    });
                }

                return;
            }
            
            $('.left').css('display', 'none');
            $('.inner-wrap').css('display', 'none');
            $('.category-icon').css('display', 'none');
            $('.search-wrap').css('display', 'block');
            $('.content').css('display', 'none');
            $('.collapse').css('display', 'block');
        })
    })

    //点击收起按钮
    $('.collapse').on('click', () =>{
        $('.category-icon').css('display', '');
        $('.search-wrap').css('display', 'none');
        $('.content').css('display', 'block');
        $(this).css('display', 'none');
    })

    // 手机屏下显现/隐藏侧边栏
    // false 不显示
    let bool = false;
    function showOrHiddenNav(){
        bool = !bool;
        $('.left').css('display', bool ? 'block' : 'none');
        $('.inner-wrap').css('display', bool ? 'block' : 'none');
        $('.category-icon').css('display', bool ? 'none' : 'block');
        $('.search-wrap').css('display', 'none');
    }
    //查询文章
    function search(){
        let search = $('#search').val();
        if(search === ''){
            $('.result li').remove();
        }else{
            $.ajax({
                url: 'searchArtcleByTag',
                data:{
                    search
                },
                dataType: 'json',
                success(res){
                    let data = res.blogs;
                    if(data.length === 0){
                        $('.result').html('<li style="text-align:center;color: #fff">无结果</li>');
                    }else{
                        let html = '';
                        data.forEach(blog =>{
                            let title = blog.title;
                            search = search.toLowerCase();
                            let index = title.indexOf(search);
                            //如果标题中存在查询的关键字，高亮显示
                            if(title.indexOf(search) !== -1){
                                title = `${title.substring(0, index)}<span class="keyWord">${search}</span>${title.substring(index + search.length)}`;
                            }
                            html += `<li><a href="/preview?_id=${blog._id}">${title}</a></li>`;
                        })
                        $('.result').html(html);
                    }
                }
            })
        }
    }
    
    //函数防抖 在规定的时间内，只执行一次调用，如果在时间范围内有新的输入，重新计时
    function debounce(fn, delay) {
        //定时器  子函数执行完，仍然存在
        let timer = null;
        return function () {
            let that = this;
            let args = arguments;

            clearTimeout(timer);
            timer = setTimeout(function () {
                //执行函数
                fn.apply(that, args);
            }, delay);
        }
    }
    
    //函数节流
    function throttle(fn, delay = 1000){
        let endTime = null;

        return function(){
            let startTime = new Date();
            let that = this;

            //如果时间差大于等待时间 || 第一次执行
            if (startTime - endTime > delay) {
                //执行函数
                fn.apply(that, arguments);
                //记录上次执行的事件
                endTime = startTime
            }
        }
    }
</script>
{{block 'js'}}{{/block}}
</html>