{{extend './layout.html'}}
{{block 'title'}}<title>jsong,一个不专注前端的程序员</title>{{/block}}
{{block 'content'}}
    <div class="preview">
        <div class="preview_content">
            {{@htmlContent}}
        </div>
        <div class="read-tips">
            <div>上一篇：
                {{if preA._id === ''}}
                    <span style="cursor: pointer;">{{preA.title}}</span>
                {{else}}
                    <a href="/preview?_id={{preA._id}}">{{preA.title}}</a>
                {{/if}}
            </div>
            <div>下一篇：
                {{if nextA._id === ''}}
                    <span style="cursor: pointer;">{{nextA.title}}</span>
                {{else}}
                    <a href="/preview?_id={{nextA._id}}">{{nextA.title}}</a>
                {{/if}}
            </div>
        </div>
        <div class="comment">
            <div class="comment-div always-show">
                <img src="/img/gitHub.jpg" alt="gitHub logo" class="gitHub_logo">
                <div class="commit-mess">
                    <textarea name="comment" id="comment" class="textarea" placeholder="请输入您的评论"></textarea>
                    <button class="primary-btn comment-btn">提交</button>
                    <div class="textarea-wrap">
                        <div>暂时无法评论，<a href="https://github.com/login/oauth/authorize?client_id=9b581d4805df0fb0af16&scope=user:email" style="color:red">请先登录</a></div>
                    </div>
                </div>
            </div>
            <div>
                <h5 class="comment-total"><span class="comment_total"></span> 条精彩评论</h5>
                <div class="messes">

                </div>
            </div>
        </div>
    </div>
{{/block}}
{{block 'js'}}
    <script>
        $(() =>{
            //修改标题
            let title = '{{title}}'
            $('title').text(title);
            //目录
            let category = $('.editormd-markdown-toc').html();
            let width = window.innerWidth;

            //平板以上宽度  显示目录结构
            if(width > 1024){
                //存在目录增加目录结构  
                if(category){
                    //设置工具栏的宽度
                    $('.toolBox').css('width', '25%');
                    $('.right .content').css('width', '75%');
                    //在toolBox下显示目录
                    $('.fixedWrap').append(`
                        <div class="artcle-toc markdown-body"></div>
                    `)
                    //显示文章目录
                    $('.artcle-toc').append($('.editormd-markdown-toc').html());
                }
                //隐藏正文的目录
                $('.editormd-markdown-toc').css('display', 'none');
            }

            $('.preview').on('focus', '.textarea', function(){
                $(this).animate({minHeight:'10rem'}, 1000);
            }).on('blur', '.textarea', function(){
                $(this).animate({minHeight:'1rem'}, 1000);
            });

            //获取cookie中的gitHub_user
            let gitHub_user = $.cookie('gitHub_user');

            if(gitHub_user !== undefined){
                $('.textarea-wrap').css('display', 'none');
                $('.comment-btn').css('display', 'block');
                
                //筛选想要的信息
                gitHub_user = JSON.parse(unescape(unescape(gitHub_user)));
                //设置头像
                $('.gitHub_logo').attr('src', gitHub_user.avatar_url);
                $('#email').val(gitHub_user.email);
            }else{
                $('.textarea-wrap').css('display', 'flex');
                $('.comment-btn').css('display', 'none');
            }

            //显示回复按钮
            $('.preview').on('mouseover', '.mess-wrap', function(){
                let id = $(this).attr('id').split('_')[0];
                $(`#${id}_mess-replay`).css('display', 'block');
            }).on('mouseleave', '.mess-wrap', function(){
                let id = $(this).attr('id').split('_')[0];
                $(`#${id}_mess-replay`).css('display', 'none');
            })

            //点击回复显示输入框
            let flag = false;
            $('.preview').on('click', '.replay', function(){
                let id = $(this).attr('id').split('_')[0];
                //获取需要显示的输入框对象
                flag = !flag;

                //回复改为取消回复
                $(`#${id}_replay`).text(flag ? '取消回复' : '回复');
                //flag === true 显示输入框
                $(`#${id}_textArea`).css('display', flag ? 'flex' : 'none');

                if(gitHub_user !== undefined){
                    $('.textarea-wrap').css('display', 'none');
                    $('.comment-btn').css('display', 'block');
                }

                if(!flag){
                    $('.always-show').css('display', 'flex');
                }

                //只能同时出现一个输入框
                if( flag ){
                    $(`.comment-div:not(#${id}_textArea)`).css('display', 'none');
                    $(`.replay:not(#${id}_replay)`).text('回复');
                }
            })
            
            //使用github账号登陆
            $('.gitHub_logo').on('click', function(){
                window.location.href = `https://github.com/login/oauth/authorize?client_id=9b581d4805df0fb0af16&scope=user:email`;
            });

            //获取文章的评论
            let artId = '{{artId}}';
            let page = 1;
            getBlogAllCommentsByArtId(artId, page);
            
            //增加评论
            $('.preview').on('click', '.comment-btn', function(){
                let commentId = $(this).attr('id');
                
                if(commentId !== undefined){
                    let ids = commentId.split('_');

                    // ids[0] 评论编码 ids[2] 回复编码
                    commentId = ids[2] === undefined ? ids[0] : `${ids[0]}_${commentId.split('_')[2]}`;
                }
                addComment(artId, commentId);
            });
        })

        //增加评论
        function addComment(artId = '', commentId = '', page = 1){
            //评论内容
            let comment = commentId === '' ? $('#comment').val() : $(`#${commentId}_comment`).val();
            //回复谁的评论
            let reply_name = '';
            //涉及到的人的邮件
            let emails = [];

            if(commentId !== ''){
                let ids = commentId.split('_');

                if(ids.length === 1){
                    if($(`#${ids[0]}_comment`).val() === ""){
                        alert('大哥，你想表达啥!!!');
                        return
                    }else{
                        comment = $(`#${ids[0]}_comment`).val();
                        reply_name = $(`#${ids[0]}_name`).val();
                        emails.push($(`#${ids[0]}_email`).val());
                    }
                    
                }else if(ids.length === 2){
                    if($(`#${ids[1]}_comment`).val() === ""){
                        alert('大哥，你想表达啥!!!');
                        return
                    }else{
                        comment = $(`#${ids[1]}_comment`).val();
                        reply_name = $(`#${ids[1]}_name`).val();
                        emails.push($(`#${ids[1]}_email`).val());
                    }
                }
                
                commentId = ids[0];
            }else{
                if($('#comment').val() === ""){
                    alert('大哥，你想表达啥!!!');
                    return
                }else{
                    comment = $('#comment').val();
                }
            }

            $.ajax({
                url: 'addComment',
                type: 'POST',
                dataType: 'json',
                data:{
                    artId,
                    commentId,
                    comment,
                    emails,
                    reply_name
                },
                success(res){
                    if(res.code === 0){
                        //重新加载数据
                        getBlogAllCommentsByArtId(artId, page);
                        //清空文本框的数据
                        $('.textarea').val('');

                        //隐藏当前输入框
                        commentId !== '' && $(`${commentId}_textArea`).css('display', 'none');

                        //最外层的文本框显示
                        $('.always-show').css('display', 'flex');
                    }else{
                        alert(res.mess);
                    }
                }
            });
        };
        //获取文章所有评论
        function getBlogAllCommentsByArtId(artId, page){
            $.ajax({
                url: `/getAllCommentByArtId/${artId}`,
                type: 'GET',
                dataType: 'json',
                data:{
                    page
                },
                success(res){
                    $('.comment_total').text(res.pager.total);

                    let data = res.comments;

                    let html = '';
                    if(data.length === 0){
                        $('.comment > div:last-child').append('<div class="noData">暂无评论内容</div>');
                    }else{
                        $('.comment .noData').remove();

                        data.forEach(dt =>{
                            html += 
                            `
                                <div class="mess">
                                    <div class="mess-wrap" id="${dt._id}_mess">
                                        <div class="mess-name">
                                            <div>
                                                <img src="${dt.comment_pic_url}" alt="gitHub logo" class="gitHub-logo" style="margin: 0 0.5rem">
                                                <div>${dt.comment_name}</div>
                                            </div>
                                            <div>${dt.comment_time}</div>
                                        </div>
                                        <div class="mess-content">
                                            ${dt.comment}
                                        </div>
                                        <div class="mess-replay" id="${dt._id}_mess-replay">
                                            <span class="replay" id="${dt._id}_replay">回复</span>
                                        </div>
                                        <div class="comment-div" id="${dt._id}_textArea">
                                            <div class="commit-mess" style="margin-left:2.5rem;width:calc(100% - 5rem)">
                                                <textarea name="comment" id="${dt._id}_comment" class="textarea" placeholder="请输入您的评论"></textarea>
                                                <input type="hidden" id="${dt._id}_name" value="${dt.comment_name}"/>
                                                <input type="hidden" id="${dt._id}_email" value="${dt.comment_email}"/>
                                                <button class="primary-btn comment-btn" id="${dt._id}_btn">提交</button>
                                                <div class="textarea-wrap">
                                                    <div>暂时无法评论，<a href="https://github.com/login/oauth/authorize?client_id=9b581d4805df0fb0af16&scope=user:email" style="color:red">请先登录</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-replay">
                            `;

                            //该评论下的所有回复
                            dt.replys.forEach(reply =>{
                                html +=`
                                    <div class="mess">
                                        <div class="mess-wrap" id="${reply._id}_mess">
                                            <div class="mess-name">
                                                <div>
                                                    <img src="${reply.comment_pic_url}" alt="gitHub logo" class="gitHub-logo" style="margin: 0 0.5rem">
                                                    <div><span style="color:#05d3ee">${reply.comment_name}</span>回复<span style="color:#05d3ee">${reply.reply_name}</span></div>
                                                </div>
                                                <div>${reply.comment_time}</div>
                                            </div>
                                            <div class="mess-content">
                                                    ${reply.comment}
                                            </div>
                                            <div class="mess-replay" id="${reply._id}_mess-replay">
                                            <span class="replay" id="${reply._id}_replay">回复</span>
                                            </div>
                                            <div class="comment-div" id="${reply._id}_textArea">
                                                <div class="commit-mess" style="margin-left:2.5rem;width:calc(100% - 5rem)">
                                                    <textarea name="comment" id="${reply._id}_comment" class="textarea" placeholder="请输入您的评论"></textarea>
                                                    <input type="hidden" id="${reply._id}_name" value="${reply.comment_name}"/>
                                                    <input type="hidden" id="${reply._id}_email" value="${reply.comment_email}"/>
                                                    <button class="primary-btn comment-btn" id="${dt._id}_btn_${reply._id}">提交</button>
                                                    <div class="textarea-wrap">
                                                        <div>暂时无法评论，<a href="https://github.com/login/oauth/authorize?client_id=9b581d4805df0fb0af16&scope=user:email" style="color:red">请先登录</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `;
                            });

                            html += `</div></div>`;
                        })
                        
                        $('.comment .messes').html(html);
                    }
                }
            });
        }
    </script>
{{/block}}