{{extend './layout.html'}}
{{block 'title'}}<title>文章详情</title>{{/block}}
{{block 'content'}}
    <div class="preview">
        <div class="preview_content">
            {{@htmlContent}}
        </div>
        <div class="read-tips">
            <div>上一篇：<a href="/preview?_id={{preA._id}}">{{preA.title}}</a></div>
            <div>下一篇：<a href="/preview?_id={{nextA._id}}">{{nextA.title}}</a></div>
        </div>
    </div>
{{/block}}
{{block 'js'}}
    <script>
        $(() =>{
            //在toolBox下显示目录
            $('.toolBox').append(`
                <div class="artcle-toc markdown-body" style="width:90%;height:auto;margin:20px auto;border:1px solid #e9e9e9">
                    <div style="background:#e9e9e9;padding:5px 10px"><em>目录</em></div>
                </div>
            `)
            //显示文字目录
            $('.artcle-toc').append($('.editormd-markdown-toc').html());
        })
    </script>
{{/block}}