{{extend './layout.html'}}
{{block 'title'}}<title>jsong-一个不专业的前端程序员-</title>{{/block}}
{{block 'content'}}
    <div class="preview">
        <div class="preview_content">
            {{@htmlContent}}
        </div>
        <div class="read-tips">
            <div>上一篇：
                {{if preA._id === ''}}
                    <span style="cursor: pointer;">{{preA.title}}</span>
                {{else}}
                    <a href="/preview?_id={{preA._id}}">{{preA.title}}</a>
                {{/if}}
            </div>
            <div>下一篇：
                {{if nextA._id === ''}}
                    <span style="cursor: pointer;">{{nextA.title}}</span>
                {{else}}
                    <a href="/preview?_id={{nextA._id}}">{{nextA.title}}</a>
                {{/if}}
            </div>
        </div>
    </div>
{{/block}}
{{block 'js'}}
    <script>
        $(() =>{
            //修改标题
            let title = '{{title}}'
            $('title').text(title);
            //目录
            let category = $('.editormd-markdown-toc').html();
            let width = window.innerWidth;

            //平板以上宽度  显示目录结构
            if(width > 1024){
                //存在目录增加目录结构  
                if(category){
                    //设置工具栏的宽度
                    $('.toolBox').css('width', '25%');
                    $('.right .content').css('width', '75%');
                    //在toolBox下显示目录
                    $('.fixedWrap').append(`
                        <div class="artcle-toc markdown-body">
                            <div style="background:#fff;padding:0.25rem 0.5rem;border-left: 5px solid #4d4d4d;"></div>
                        </div>
                    `)
                    //显示文章目录
                    $('.artcle-toc').append($('.editormd-markdown-toc').html());
                    
                    //设置目录标题
                    $('.artcle-toc > div').html(`<em><strong>${title} 文章目录</strong></em>`);
                }
                //隐藏正文的目录
                $('.editormd-markdown-toc').css('display', 'none');
            }
        })
    </script>
{{/block}}