{{extend './layout.html'}}
{{block 'title'}}<title>jsong-一个不专业的前端程序员-文章标签</title>{{/block}}
{{block 'content'}}
    <div class="brief">
        <div class="head">文章标签</div>
        <div class="tags-content">
            {{each tags}}
               <a href="/?_id={{$value._ids}}"><button>{{$value.tag}} ({{$value.sum}})</button></a>
            {{/each}}
        </div>
    </div>
{{/block}}
{{block 'js'}}
    <script>
        $(function(){
            //给标签button加上随机颜色
            let colors = ['primary-btn', 'success-btn', 'warning-btn', 'danger-btn', '.info-btn'];
            $('.tags-content button').each(function(){
                $(this).addClass(colors[Math.floor(Math.random()*(colors.length-1))]);
            })
        })
    </script>
{{/block}}