.brief{
    min-height: 91%;
    margin-bottom: 30px;
    border: 1px solid #e9e9e9;
    font-size: 16px;
    color: #000;
}
.brief .head{
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    padding-left: 20px;
    background: #f8f6f6;
}
.brief .brief-content{
    width: 80%;
    margin: 20px auto;
    border-left: 2px solid #57dbec;
}

.brief .time{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin-left: -10px;
}       
.brief .time::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background: rgb(105, 240, 240);
    border-radius: 50%;
    margin-right: 15px;
    padding: 2px;
    border: 4px solid rgb(101, 213, 228);
}
.brief .part ul{
    margin-left: 40px;
}
.brief .part ul li{
    height: 30px;
    line-height: 30px;
}
.brief .part ul li a:hover{
    color: #05d3ee;
}
.brief .part ul li span{
    font-size: 12px;
    padding-left: 10px;
}


/* 标签相关样式 */
.brief .tags-content button{
    margin: 10px;
}
.brief .tags-content button a{
    color: #fff;
}