*{
    box-sizing: border-box;
}
html, body{
    height    : 100%;
    background: #eaeaea;
}
a{
    font-size      : 0.7rem;
    text-decoration: none;
    color          : #000;
}
a:hover{
    text-decoration: underline;
    color          : #57dbec
}
button{
    color        : #fff;
    font-size    : 0.7rem !important;
    height       : 1.75rem;
    line-height  : 1.6rem;
    min-width    : 4rem;
    border-radius: 0.5rem;
    cursor       : pointer;
    box-sizing   : border-box;
}

.default-btn{
    background-color: #fff;
    color           : #000;
    border          : 1px solid #eaeaea;
}
.default-btn:hover{
    background-color: rgb(216, 214, 214);
    border          : 1px solid rgb(216, 214, 214);
}
.primary-btn{
    background-color: #409EFF;
    border          : 1px solid #409EFF;
}
.primary-btn:hover{
    background-color: rgb(104, 179, 253);
    border          : 1px solid rgb(104, 179, 253);
}
.success-btn{
    background-color: #67C23A;
    border          : 1px solid #67C23A;
}
.success-btn:hover{
    background-color: rgb(150, 218, 113);
    border          : rgb(150, 218, 113);
}
.info-btn{
    background-color: #b4b2b2;
    border          : 1px solid #b4b2b2;
}
.info-btn:hover{
    background-color: #d6d3d3;
    border          : 1px solid #d6d3d3;
}
.warning-btn{
    background-color: #E6A23C;
    border          : 1px solid #E6A23C;
}
.warning-btn:hover{
    background-color: rgb(226, 175, 98);
    border          : 1px solid rgb(226, 175, 98);
}
.danger-btn{
    background-color: #F56C6C;
    border          : 1px solid #F56C6C;
}
.danger-btn:hover{
    background-color: rgb(247, 135, 135);
    border          : 1px solid rgb(247, 135, 135);
}

.editormd-preview-container, .editormd-html-preview{
    width: auto !important;
}
.layout-wrap{
    display            : flex;
    height             : 100%;
    font-size          : 0.6rem;
    overflow           : hidden;
    animation          : changeColor 30s ease-in-out infinite;
    animation-fill-mode: both;
}
@keyframes changeColor {
    from {background: linear-gradient(to bottom,#000 0%,#5788fe 100%);}
    to {background: linear-gradient(to bottom,#000 0%,#ff6565 100%);}
}
.layout-wrap .left{
    position                  : relative;
    top                       : 0;
    right                     : 0;
    left                      : 0;
    bottom                    : 0;
    height                    : 100%;
    width                     : 15rem;
    background-color          : #fff;
    color                     : #696969;
    overflow-y                : auto;
    overflow-x                : hidden;
    -webkit-overflow-scrolling: touch;
    z-index                   : 2;
}
.layout-wrap .left .colorDiv{
    width           : 100%;
    height          : 9rem;
    background-color: rgb(77, 77, 77);
}
.layout-wrap .uimg{
    position        : absolute;
    top             : 3.75rem;
    left            : 0;
    right           : 0;
    width           : 7.5rem;
    height          : 7.5rem;
    border-radius   : 50%;
    margin          : 1rem 3.75rem 0.25rem 3.75rem;
    background-color: #fff;
    cursor          : pointer;
    transition      : transform 1s;
    border          : 5px solid #fff;
}
.layout-wrap .uimg:hover{
    transform: rotate(360deg);
}
.layout-wrap .userinfo{
    margin-top: 4rem;
}
.layout-wrap .userinfo > div{
    text-align: center;
    font-style: italic;
    font-size : 0.7rem;
    word-break: break-all;
    padding   : 0.2rem 1rem;
}
.layout-wrap .userinfo > div:first-child{
    font-size : 1rem;
    padding   : 1rem;
    font-style: normal;
    cursor    : pointer;
}
.layout-wrap .userinfo > div:first-child:hover{
    color: #b0a0aa
}

.layout-wrap .category{
    width     : 100%;
    font-size : 0.8rem;
    margin-top: -1rem;
}
.layout-wrap .category .active{
    background : rgba(77, 77, 77, 0.1);
    border-left: 5px solid #686767;
}
.layout-wrap .category li{
    height      : 4rem;
    line-height : 4rem;
    padding-left: 2rem;
    box-sizing  : border-box;
    cursor      : pointer;
}
.layout-wrap .category li span{
    padding-left: 0.8rem;
}
.layout-wrap .category ul{
    margin-top: 1rem;
}
.layout-wrap .category li:hover{
    background : rgba(77, 77, 77, 0.1);
    border-left: 5px solid #686767;
    box-sizing : border-box;
}
.layout-wrap .category li a{
    display : inline-block;
    width   : 100%;
    height  : 100%;
    position: relative;
    left    : 0;
    right   : 0;
    bottom  : 0;
    top     : 0;
}
.layout-wrap .category li:hover a{
    color          : #686767;
    text-decoration: none;
}
.layout-wrap #bg{
    position: relative;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : 1;
}
.layout-wrap .right{
    position                  : relative;
    top                       : 0;
    left                      : 0;
    right                     : 0;
    bottom                    : 0;
    width                     : calc(100% - 15rem);
    height                    : 100%;
    overflow                  : hidden;
    overflow-y                : auto;
    -webkit-overflow-scrolling: touch;
    background-image          : url('../img//bg.png');
    background-position       : center bottom;
    background-repeat         : repeat-x;
    z-index                   : 2;
}
.layout-wrap .right .content{
    width      : 100%;
    height     : 100%;
    padding    : 1rem;
    padding-top: 3.5rem;
}
.layout-wrap .toolBox{
    position: fixed;
    height  : 100%;
    right   : -3.5rem;
}
.layout-wrap .toolBox .fixedWrap{
    width        : 75%;
    max-height   : 90%;
    overflow-y   : auto;
    border-left  : 1px solid #eaeaea;
    border-radius: 5px;
}
.layout-wrap .search-wrap{
    position        : fixed;
    width           : calc(100% - 15rem);
    height          : 2.5rem;
    border          : 1px solid #eaeaea;
    line-height     : 2.5rem;
    background-color: #fff;
    z-index         : 9997;
}
.layout-wrap .search-wrap input{
    position     : absolute;
    border-radius: 20px;
    right        : 2rem;
    top          : 0.25rem;
    width        : 3rem;
    height       : 2rem;
    line-height  : 2rem;
    padding-left : 1rem;
    outline      : none;
    border       : 1px solid #eaeaea;
    background   : #fff;
    z-index      : 9997;
}
.layout-wrap .result{
    position                  : absolute;
    top                       : 2.5rem;
    right                     : 2rem;
    width                     : 20%;
    min-width                 : 150px;
    overflow                  : hidden;
    overflow-y                : auto;
    -webkit-overflow-scrolling: touch;
    background                : rgba(0, 0, 0, 0.5);
    z-index                   : 9999;
}
.layout-wrap .result li{
    height       : 2rem;
    border-radius: 0.25rem;
    line-height  : 2rem;
    margin       : 0.25rem 0;
    cursor       : pointer;
    padding-left : 1rem;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    font-size    : 0.7rem;
}
.layout-wrap .result li:hover{
    background: rgba(167, 97, 97, 0.3);
}
.layout-wrap .result li a{
    color          : rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size      : 0.7rem;
}
.layout-wrap .result li a:hover{
    text-decoration: underline;
    color          : rgba(255, 255, 255, 1);
}
.layout-wrap .result .keyWord{
    font-size  : 0.7rem;
    color      : #f90;
    font-weight: bold;
}
.layout-wrap .category-icon{
    display: none;
}

.icon {
    width         : 1rem;
    height        : 1rem;
    vertical-align: -0.15rem;
    fill          : currentColor;
    overflow      : hidden;
    font-weight   : bold;
}
.layout-wrap .collapse{
    display: none;
}
/* 平板屏 */
@media only screen and (max-width: 1024px){
    .layout-wrap .left{
        position                  : absolute;
        top                       : 0;
        bottom                    : 0;
        right                     : 0;
        left                      : 0;
        overflow-y                : auto;
        overflow-x                : hidden;
        -webkit-overflow-scrolling: touch;
        z-index                   : 999;
        display                   : none;
    }
    .layout-wrap .right{
        position: absolute;
        top     : 0;
        bottom  : 0;
        right   : 0;
        left    : 0;
        width   : 100%;
        z-index : 995;
    }
    .layout-wrap .right .toolBox{
        display: none;
    }
    .layout-wrap .inner-wrap{
        position        : absolute;
        top             : 0;
        bottom          : 0;
        right           : 0;
        left            : 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index         : 998;
        display         : none;
    }
    .layout-wrap .category-icon{
        position     : absolute;
        top          : 0.75rem;
        left         : 1rem;
        z-index      : 9998;
        border-radius: 50%;
        text-align   : center;
        display      : block;
    }
    .layout-wrap .search-wrap{
        width: 100%
    }
    .layout-wrap .search-wrap input, .layout-wrap .result{
        right: 1rem;
    }
    .layout-wrap .search-wrap .icon{
        right: 1.5rem !important;
    }
}

/* 笔记本 */
@media only screen and (max-width: 1440px) and (min-width: 1024px){
    .layout-wrap .category li{
        height     : 3rem;
        line-height: 3rem;
    }
}
