html, body{
    height: 100%;
    background: #eaeaea;
}
a{
    font-size: 0.8rem;
    text-decoration: none;
    color          : #000;
}
a:hover{
    text-decoration: underline;
    color: #57dbec
}
button{
    color        : #fff;
    font-size    : 0.7rem;
    height       : 1.75rem;
    line-height  : 1.6rem;
    min-width    : 4rem;
    border-radius: 0.5rem;
    cursor       : pointer;
    box-sizing   : border-box;
}
button a{
    font-size: 0.7rem;
}

.default-btn{
    background-color: #fff;
    color           : #000;
    border          : 1px solid #eaeaea;
}
.default-btn:hover{
    background-color: rgb(216, 214, 214);
    border          : 1px solid rgb(216, 214, 214);
}
.primary-btn{
    background-color: #409EFF;
    border          : 1px solid #409EFF;
}
.primary-btn:hover{
    background-color: rgb(104, 179, 253);
    border          : 1px solid rgb(104, 179, 253);
}
.success-btn{
    background-color: #67C23A;
    border          : 1px solid #67C23A;
}
.success-btn:hover{
    background-color: rgb(150, 218, 113);
    border          : rgb(150, 218, 113);
}
.info-btn{
    background-color: #b4b2b2;
    border          : 1px solid #b4b2b2;
}
.info-btn:hover{
    background-color: #d6d3d3;
    border          : 1px solid #d6d3d3;
}
.warning-btn{
    background-color: #E6A23C;
    border          : 1px solid #E6A23C;
}
.warning-btn:hover{
    background-color: rgb(226, 175, 98);
    border          : 1px solid rgb(226, 175, 98);
}
.danger-btn{
    background-color: #F56C6C;
    border          : 1px solid #F56C6C;
}
.danger-btn:hover{
    background-color: rgb(247, 135, 135);
    border          : 1px solid rgb(247, 135, 135);
}

.editormd-preview-container, .editormd-html-preview{
    width: auto !important;
}
.layout-wrap{
    display   : flex;
    height    : 100%;
    font-size : 0.6rem;
    overflow  : hidden;
    animation: changeColor 30s ease-in-out infinite;
    animation-fill-mode: both;
}
@keyframes changeColor {
    from {background: linear-gradient(to bottom,#000 0%,#5788fe 100%);}
    to {background: linear-gradient(to bottom,#000 0%,#ff6565 100%);}
}
.layout-wrap .left{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height          : 100%;
    width           : 15rem;
    background-color: rgba(255, 255, 255, 1);
    color: #696969;
    z-index: 2;
}
.layout-wrap .left .colorDiv{
    width: 100%;
    height: 9rem;
    background-color: #4d4d4d;
}
.layout-wrap .uimg{
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    width           : 7.5rem;
    height          : 7.5rem;
    border-radius   : 50%;
    margin          : 1rem 3.75rem 0.25rem 3.75rem;
    background-color: #fff;
    cursor          : pointer;
    transition      : transform 1s;
    border          : 5px solid #fff;
}
.layout-wrap .uimg:hover{
    transform: rotate(360deg);
}
.layout-wrap .userinfo{
    margin-top: 4rem;
}
.layout-wrap .userinfo > div{
    text-align : center;
    font-style: italic;
    font-size  : 0.7rem;
    word-break: break-all;
    padding: 0.2rem 1rem;
}
.layout-wrap .userinfo > div:first-child{
    font-size: 1rem;
    padding: 1rem;
    font-style: normal;
    cursor: pointer;
}
.layout-wrap .userinfo > div:first-child:hover{
    color: #b0a0aa
}

.layout-wrap .category{
    width    : 100%;
    font-size: 0.8rem;
    margin-top: -1rem;
}
.layout-wrap .category li{
    height      : 4rem;
    line-height : 4rem;
    padding-left: 2rem;
    box-sizing  : border-box;
    cursor      : pointer;
}
.layout-wrap .category ul{
    margin-top: 1rem;
}
.layout-wrap .category li:hover{
    background: #c7c6c6;
    border-left: 5px solid #686767; 
    box-sizing: border-box;
}

.layout-wrap .category li:hover a{
    color: #b0a0aa;
    text-decoration: none;
}

.layout-wrap .right{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display   : flex;
    width     : calc(100% - 15rem);
    overflow-y: auto;
    overflow-x: hidden;
    background-image:url('../img//bg.png');
    background-position: center bottom;
    background-repeat: repeat-x;
    z-index:1;
}
.layout-wrap .right .content{
    width     : 100%;
    padding   : 1.5rem;
    box-sizing: border-box;
}
.layout-wrap .toolBox{
    margin-top: 1.5rem;
}
.layout-wrap .toolBox .fixedWrap{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}
.layout-wrap .search-wrap{
    position: relative;
    display: none;
    width: 0;
    margin:  1.5rem 0;
    margin-left: 1.5rem;
}
.layout-wrap .search-wrap input{
    border-radius: 5px;
    height       : 1.5rem;
    width: 97%;
    padding-left : 1rem;
    outline: none;
    border       : none;
    background: #fff;
}
.layout-wrap .result{
    width: 102%;
}
.layout-wrap .result li{
    height       : 2rem;
    border-radius: 0.25rem;
    line-height  : 2rem;
    margin: 0.25rem 0;  
    cursor       : pointer;
    padding-left : 1rem;
    background: rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
}
.layout-wrap .result li:hover{
    background: rgba(0, 0, 0, 0.5);
}
.layout-wrap .result li a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 0.7rem;
}
.layout-wrap .result li a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
}
.layout-wrap .result .keyWord{
    font-size: 0.7rem;
    color: #f90;
    font-weight: bold;
}

.icon {
    width         : 0.9rem;
    height        : 0.9rem;
    vertical-align: -0.15rem;
    fill          : currentColor;
    overflow      : hidden;
    padding-right : 0.8rem;
    font-weight: bold;
}

/* 手机屏 */
@media only screen and (max-width: 414px){
    .layout-wrap .left{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 999;

        display: none;
    }
    .layout-wrap .right{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 995;
    }
    .layout-wrap .right .content{
        padding: 0;
        width: 100% !important;
    }
    .layout-wrap .right .toolBox{
        display: none;
    }
    .layout-wrap .inner-wrap{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 998;
        display: none;
    }
    .layout-wrap .category-icon{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 997;
    }
    .layout-wrap .category-icon .icon{
        width: 1.5rem;
        height: 1.5rem;
        padding-right: 0;
    }
    .layout-wrap .search-wrap{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        padding: 0;
        margin: 0;
        z-index: 996;
    }
    .layout-wrap .search-wrap input{
        width: 70%;
        height: 2.5rem;
        margin: 2rem 2rem 0.2rem 2.5rem;
    }
    .layout-wrap .search-wrap .icon{
        top: 2.9rem !important;
        right: 5rem !important;
    }
    .layout-wrap .result{
        width: 84%;
        margin-left: 2.5rem;
    }
    .layout-wrap .collapse{
        position: absolute;
        top: 2.9rem;
        right: 1.5rem;
        cursor: pointer;
    }
}
