html, body{
    height: 100%;
}
a{
    text-decoration: none;
    color: #000;
}
button{
    color: #fff;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    min-width: 80px; 
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.default-btn{
    background-color: #fff;
    color: #000;
    border: 1px solid #e9e9e9;
}
.primary-btn{
    background-color: #409EFF;
    border: 1px solid #409EFF;
}
.success-btn{
    background-color: #67C23A;
    border: 1px solid #67C23A;
}
.info-btn{
    background-color: #909399;
    border: 1px solid #909399;
}
.warning-btn{
    background-color: #E6A23C;
    border: 1px solid #E6A23C;
}
.danger-btn{
    background-color: #F56C6C;
    border: 1px solid #F56C6C;
}