/* 首页样式 */
.index-wrap{
    padding-bottom: 1.5rem;
}
.index-article{
    position     : relative;
    width        : 100%;
    border       : 1px solid #eaeaea;
    margin-bottom: 1rem;
    border-radius: 5px;
    background   : #fff;
    font-size    : 0.8rem;
}
.index-article .head{
    height    : 2.6rem;
    text-align: center;
}
.index-article .detail{
    width        : 90%;
    height       : 15rem;
    margin       : 0 auto;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
    border-bottom: 2px solid #eaeaea;
}
.index-article .head .title{
    font-size  : 1.2rem;
    font-weight: 700;
    margin     : 1rem 0 0.5rem 0;
}
.index-article .head .sub-title{
    height     : 1rem;
    line-height: 1rem;
    font-size  : 0.7rem !important;
}
.index-article .hidden-block{
   height       : 3rem;
   line-height  : 3rem;
   text-align   : right;
   padding-right: 5%;
}
.index-article .read-btn{
    margin: 1rem 0 0.5rem 1.25rem;
}
.index-article .read-btn a{
    color: #fff;
}
.index-article .sub-title span{
    margin: 0 0.5rem;
}
.index-article .tags span a{
    color : sandybrown;
    cursor: pointer;
}

/* 简史样式 */
.brief{
    font-size     : 0.8rem;
    color         : #000;
    background    : #fff;
    border-radius : 5px;
    padding-bottom: 1rem;
}
.brief .head{
    height      : 4rem;
    line-height : 4rem;
    font-size   : 1.2rem;
    padding-left: 1.5rem;
    background  : #fff;
    border-left : 5px solid #4d4d4d;
    box-sizing  : border-box;
    font-style  : italic;
}
.brief .brief-content{
    width         : 80%;
    margin        : 0 auto;
    padding-bottom: 1rem;
    border-left   : 2px solid #57dbec;
}

.brief .time{
    height     : 2.5rem;
    line-height: 2.5rem;
    font-size  : 0.9rem;
    margin-left: -10px;
}       
.brief .time::before{
    content      : '';
    display      : inline-block;
    width        : 6px;
    height       : 6px;
    background   : rgb(105, 240, 240);
    border-radius: 50%;
    margin-right : 0.75rem;
    padding      : 0.1rem;
    border       : 4px solid rgb(101, 213, 228);
    cursor       : pointer;
}
.brief .part ul{
    margin-left: 2rem;
}
.brief .part ul li{
    height     : 2rem;
    line-height: 2rem;
}
.brief .part ul li a:hover{
    color: #05d3ee;
}
.brief .part ul li span{
    font-size   : 0.6rem;
    padding-left: 0.5rem;
}

/* 标签相关样式 */
.brief .tags-content button{
    margin: 1rem 0.5rem 0 1rem;
}
.brief .tags-content button a{
    color: #fff;
}

/* 预览页面样式 */
.preview{
    border-radius : 5px;
    background    : #fff;
    padding-bottom: 0.1rem;
    margin-bottom : 1rem;
}
.preview_content{
    border       : 1px solid #eaeaea;
    border-radius: 5px;
}
.read-tips{
    display        : flex;
    justify-content: space-between;
    border-bottom  : 1px solid #eaeaea
}
.read-tips > div{
    line-height: 2rem;
    height     : 2rem;
    margin     : 0 1rem;
    font-size  : 0.6rem;
}
.read-tips a{
    font-size: 0.7rem;  
}

/* 评论样式 */
.preview div, span, a{
    font-size: 0.7rem;
}
.preview .comment{
    width: 97%;
    /* font-size : 0.7rem; */
    margin    : 0.5rem auto;
    box-sizing: border-box;
}
.preview .comment img{
    width        : 2rem;
    height       : 2rem;
    margin       : 0 1rem 1rem 1rem;
    border-radius: 50%;
    cursor       : pointer;
}
.preview .comment > div{
    width: 100%;
}
.preview .comment .comment-div{
    display       : none;
    padding-bottom: 1.5rem;
}
.preview .comment .always-show{
    display: flex;
}
.preview .comment .commit-mess{
    position     : relative;
    width        : calc(100% - 6rem);
    margin-right : 2rem;
    margin-bottom: 1.5rem;
}
.preview .comment .textarea{
    width     : 100%;
    max-width : 100%;
    height: 3rem;
    padding   : 0.8rem;
    box-sizing: border-box;
}
.preview .comment-btn{
    display : none;
    position: absolute;
    right   : 0;
    bottom  : -2.4rem;
}
.preview .textarea-wrap{
    display        : flex;
    justify-content: center;
    position       : absolute;
    left           : 0;
    right          : 0;
    top            : 0;
    height         : 3rem;
    background     : rgba(0, 0, 0, 0.1);
}
.preview .textarea-wrap a{
    cursor: pointer;
}
.preview .textarea-wrap > div{
    line-height: 3rem;
}

.preview .comment > div:last-child{
    width        : 100%;
    border       : 1px solid #eaeaea;
    margin-bottom: 2rem;
}
.preview .comment-total{
    height          : 2rem;
    line-height     : 2rem;
    padding-left    : 0.5rem;
    font-size: 0.7rem;
    background-color: #eaeaea;
}
.preview .messes{
    margin: 1rem 0;
}
.preview .mess > div:hover{
    cursor: pointer;
}
.preview .messes .mess-name{
    display        : flex;
    justify-content: space-between;
    line-height    : 2rem;
}
.preview .messes .mess-name > div:first-child{
    display: flex;
}
.preview .messes .mess-name > div:last-child{
    padding-right: 1rem;
}
.preview .mess .mess-content{
    margin     : 0  3rem;
    padding: 0.5rem 0;
    line-height: 1.1rem;
    word-break : break-all;
}
.preview .mess .mess-replay{
    display     : none;
    margin-right: 2.5rem;
    text-align  : right;
    cursor      : pointer;
    line-height : 2rem;
    height      : 2rem;
}
.preview .comment .sub-replay{
    margin-left: 2rem;
}
.preview .mess .mess-replay span:hover{
    color: #05d3ee
}
.preview .comment .noData{
    height     : 5rem;;
    line-height: 5rem;
    width      : 100%;
    text-align : center;
}   

.artcle-toc{
    background: #fff;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    max-height: 50%;
}
.artcle-toc ul li{
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}
.artcle-toc strong{
    font-size: 1rem;
}
.artcle-toc ul li a{
    font-size: 0.7rem;
}
.artcle-toc .markdown-toc-list{
    padding: 0.5rem;
}
.artcle-toc .markdown-toc-list .toc-level-4, .toc-level-5, .toc-level-6{
    color: #414040;
}
.artcle-toc .markdown-toc-list a{
    color: #000;
}
.artcle-toc .markdown-toc-list a:hover{
    color: #5788fe;
}

/* 联系我 */
.brief .about-content ul li{
    display        : flex;
    justify-content: flex-start;
    line-height    : 1.5rem;
    padding        : 0.5rem;
    box-sizing     : border-box;
}
.brief .about-content span:first-child{
    font-weight: bold
}
.brief .about-content span{
    display   : block;
    width     : 10%;
    text-align: right;
    font-size : 0.8rem;
}
.brief .about-content span:last-child{
    width        : 85%;
    text-align   : left;
    border-bottom: 1px dashed #c2c0c0;
}

/* 分页样式 */
.pager{
    display        : flex;
    justify-content: flex-end;
    margin         : 0.2rem 0 0.6rem 0;
    color          : #fff;
    font-size      : 0.6rem;
}
.pager .total{
    padding: 0.2rem 0.75rem;
}
.pager .pagerWrap{
    background   : rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.pager .pagerWrap .icon{
    padding: 0.2rem 0.25rem!important;
}

/* 文章的一些样式调整 */
.markdown-body *{
    font-size: 0.8rem;
    color    : #000
}
abbr {
    color        : #fff;
    border       : none !important;
    background   : #f90 !important;
    padding      : 1px 3px;
    border-radius: 3px;
}

p code{
    color        : #fff;
    border       : none !important;
    background   : #5A9600 !important;
    padding      : 1px 3px;
    border-radius: 3px;
}

.editormd-html-preview, .editormd-preview-container{
    padding: 1rem !important;
}
.markdown-body ul{
    padding-left: 1rem !important;
}

/* plus手机 平板*/
@media only screen and (max-width: 1024px){
    .brief .about-content span{
        width: 18%;
    }
    .pager{
        justify-content: space-around
    }
    .read-tips{
        display: block;
    }
    .editormd-html-preview, .editormd-preview-container{
        overflow: hidden !important;
    }
}
/* iphonex小屏幕手机 */
@media only screen and (max-width: 413px){
    
}