html, body{
    height: 100%;
}
/* 首页 */
.layui-nav-itemed>.layui-nav-child{
    padding-left: 22px !important;
}
.collapse{
    line-height: 60px;
    position   : absolute;
    left       : 200px;
}
.layui-layout-admin .layui-body{
    padding: 20px;
}

/* 预览文章页面样式 */
.preview{
    border: 1px solid #e9e9e9;
}
.editormd-preview-container, .editormd-html-preview{
    width: 97.5% !important;
}

/* 编辑器页面样式 */
.editor{
    width : 100%;
    height: 100%;
    margin: 0 auto;
}
.editor form{
    height: 100%;
}
.editor .publish-btn{
    position: absolute;
    right   : 6%;
    bottom  : -10px;
}

/* 文章列表页面样式 */
.layui-table-page{
    text-align: right;
}

/* 用户列表样式 */
#addUser{
    width: 90%;
    margin: 20px auto;
}

/* 修改密码页面 */
.passwdTips, .newPasswdTips{
    color       : red;
    padding-left: 16.5%;
}

/* 用户信息页面 */
.user-info{
    width: 50%;
    margin: 0 auto;
}
.user-info .top{
    display: flex;
    margin: 20px 0;
}

.user-info .top-left{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(119, 118, 118);
    border-radius: 50%;
    margin-left: 100px;
    box-sizing: border-box;
}
.user-info .top-right{
    line-height: 40px;
    margin-left: 50px;
    margin-top: 40px;
}
.user-info .top-right .tip{
    font-size: 12px;
    color: #c7c4c4;
    padding-left: 10px;
}
fieldset {
    border: 1px solid #e9e9e9;
}
fieldset legend{
    font-size: 16px;
    color    : #000;
}